.card-item {
    width: 200px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
}

.card-inner {
}

.card-top {
    width: 100%;
    height: 300px;
    position: relative;
}

.card-top .card-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.card-rating {
    position: absolute;
    bottom: -5px;
    right: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    /* gap: 5px; */
    background-color: #FFC107;
    height: 30px;
    border-radius: 5px;
}

.card-rating img{
    width: 50px;
}

.card-rating span{
    color: red;
    font-weight: 500;
    padding-right: 5px;
}

.card-bottom {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 100%;
   height: 85px;
   padding: 0 5px 5px 5px;
}

.card-title h4 {
    color: #7C7C7C;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-subtitle p , span {
    font-size: 12px;
}

.card-subtitle span {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.card-subtitle span i {
   color: red;
}