.home-container {
    margin: 90px 40px 0 40px;
}

/**slick related styles**/
/*adding space between slick slides*/
.slick-slider .slick-slide {
    padding: 0 10px;
 }

.slick-list {
   padding-top: 30px !important;
   padding-bottom: 30px !important;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
    font-size: 30px;
}
/**end**/

.home-section-title {
    padding-top: 30px;
}

.no-result {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 768px) { 
    .home-container {
        margin-top: 110px;
    }
}