.search-container {
    background-color: var(--background);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
    padding: 20px;
    max-width: 1024px;
    margin: 90px auto 10px auto;
}

.no-result {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination .next::before {
    content: ">";
}

.pagination .previous::before {
    content: "<";
}

.pagination button{
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    border: none;
}

.pagination span{ 
    padding: 10px;
    font-size: 14px;
    border: 2px solid var(--main-color);
    font-weight: 500;
}

@media(max-width: 768px) { 
    .card-container {
        margin-top: 110px;
     }
}